.container{
    position: relative;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    background-image: url(school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    font-size: 1.3em;
    font-family: 'Work Sans', sans-serif;
}